body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 120%;
    color: black;
    text-align: center;
    background-attachment: fixed;
}

#top {
    text-align: center;
}

header {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }


#image img {
    width: 52%;
    height: 20%;
    margin-top: 2px;
    margin-bottom: 35px;
    border: 4px solid #ffffff;
}

#main {
    max-width: 870px;
    margin: auto;
    padding: 16px;
    padding-top: 35px;
    text-align: center;
    background-color: rgba(255, 252, 252, 0.9);
    padding-bottom: 60px;
    border: 4px solid #000000c6;
}

#dieband {
    text-align: center;
    
}


.altranft {
    width: 390px;
    float: left;
    border: 4px solid #000000;
}

.mirror {
    width: 430px;
    float: right;
    border: 4px solid #000000;
}

.survive {
    width: 390px;
    margin-top: 30px;
    float: left;
    border: 4px solid #000000;
}

.caravan {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 410px;
    float: left;
}

.valerie {
    float: right;
    margin-top: 30px;
    width: 425px;
}

.gruppenbild_unten {
    float: right;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 425px;
}




@media (max-width: 800px) {

    body {
    font-size: 94%;
    }

    #main {
    margin-right: 5px;
    margin-left: 5px
    }

    #image img {
    margin-bottom: 0px;
    width: 90%;
    }

    .logo {
    width: 90%;
      }  
    
    .altranft {
    max-width: 100%;
    float: none;
    }

    .mirror {
        max-width: 100%;
        margin-top: 20px;
        float: none;
        }

    .survive {
        max-width: 100%;
        margin-top: 20px;
        float: none;
        }

    .caravan {
        max-width: 100%;
        margin-bottom: 0px;
        margin-top: 20px;
        }
        
    .valerie {
        max-width: 100%;
        margin-top: 20px;
        }   
        
    .gruppenbild_unten {
        max-width: 100%;
        margin-top: 20px;
        margin-bottom: 25px;
            }         
 }



 @media (min-width: 800px) and (max-width: 1300px) and (orientation: portrait){

    body {
    font-size: 115%;
    }

    #main {
    margin-right: 5px;
    margin-left: 5px
    }

    #image img {
    margin-bottom: 0px;
    }

    .altranft {
        width: 80%;
        float: left;
    }

    .mirror {
        width: 80%;
        float: left;
        margin-top: 20px;
    }

    .caravan {
        width: 80%;
        float: left;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .survive {
        width: 80%;
        float: left;
        margin-top: 20px;
    }

   
        
    .valerie {
        width: 80%;
        float: left;
        margin-top: 20px;
    }   
        
    .gruppenbild_unten {
        width: 80%;
        float: left;
        margin-top: 20px;
        margin-bottom: 25px;
    }         
 }
